.Profilerightbar{
    flex: 1;
    background-color: black;/* entire right side */
    padding-left: 40px;
    color:white;
    padding-top: 20px;
    padding-left: 250px;
    height:900px;
}

.subProfilerightbar{
    background-color: black;
    color:white;
    padding-top: 20px;
    display: flex;
    margin-left: 80px;
}

.postContainerForProfile{

    display: flex; 
    flex-wrap: wrap;
    margin-top: 100px;

}


 /* Modal */
.modal {
    position: fixed;
    top: 50%; /* Adjusted top position */
    left: 76%;
    transform: translate(-50%, -50%);
    background-color: rgb(15, 14, 14);
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
    height: 700px;
    width: 300px;
  }
  
  /* Modal overlay */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2e2b2bc7;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Close button */
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  .inputfields {
    margin-top: 5px;
    padding: 20px;
    color:black;
    width:200px;
}
  
.inputfields label {
    color: white;
}


.modalforListpeople{
  width: 22%;
  height: 50vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px;
  border: none;
  background-color: #1f1e1e;
  margin-top: 165px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}