
.logoforpost{   /* for like,share,comment icons*/
    margin: 10px;
    
}

.modalclassNameforAPost{
    width: 60%;
    height: 90vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    border: none;
    background-color: #1f1e1e;
    margin-top: 25px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.scrollable-div{
    height:70vh;
    overflow:auto
}

.scrollable-div::-webkit-scrollbar {
    width: 0.5em;
    background-color: transparent;
  }
.scrollable-div::-webkit-scrollbar-thumb {
    background-color: transparent;
  }


  .modalforAlikedPost{
    width: 22%;
    height: 50vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    border: none;
    background-color: #1f1e1e;
    margin-top: 165px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  }

  .scrollable-likeddiv{
    height:40vh;
    overflow:auto
}
.scrollable-likeddiv::-webkit-scrollbar {
    display: none;
}
