.mainsidebar{
    background-color: black; /* bcolor for full sidebar */
    height: 100vh;
    overflow: hidden;
    position:fixed;
    width: 24%;
    display: flex;
    
}

.listtext{
    color: #fafafa; /* color for list items text*/
    list-style: none;
}

.logos{  
    margin-left: 0px; /* margin left for icons on sidebar */
}

ul{
    margin-left: 20px;
}

.profileicon{   /* profile icon on sidebar*/
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: contain;
}

.moreicon{ /* more icon on sidebar*/
    margin-top: 240px;
    cursor: pointer;
}

.textinputforpost{
    width:100%; 
    height:140px; 
    background-color:black; 
    color:white; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:18px;
    border: none;
}

.textinputforpost::placeholder{
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    font-size: 14px;
}

.createpost{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #0095F6;
    color:white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.showsearchinput{
    background-color:rgb(38, 38, 41); 
    border:none; 
    width:80%; 
    height:35px;
    margin-left:10px;
    outline: none;
    color:white;
    border-radius: 6px;
}

.showsearchinput::placeholder{
    color:#A8A8A8;
}